@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: "KindAvenue";
    src: url("/assets/fonts/Kind-Avenue-Demo-BF656605ce56c32.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {
  /* ORANGE SHADES */
  --orange60-color: #CE7D63;

  /* DARK SHADES */
  --dark06-color: #0f0f0f;
  --dark10-color: #1a1a1a;

  /* GREY SHADES */
  --grey70-color: #B3B3B2;
}

body {
  background-color: var(--dark06-color);
  padding: 0 5%;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.top-hero {
  background: var(--dark10-color);
  width: 100%;
  padding: 10%;
  border-radius: 20px;
  color: #fff;
}

.hero-title {
  font-family: "KindAvenue";
  font-size: 3rem;
}

.hero-subtitle {
  font-size: 1.8rem;
  margin: 20px 0;
}

.cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange60-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 50px;
}

.cta-btn:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

.bottom-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border: solid 5px var(--dark10-color);
  border-radius: 20px;
  background: var(--dark06-color);
  padding: 20px;
  margin-top: 40px;
}

.hero-cards {
  background: var(--dark10-color);
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}

.hero-cards p {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 10px;
}

.hero-cards span {
  font-weight: 600;
  color: var(--orange60-color);
  font-size: 2.4rem;
}

@media screen and (max-width: 500px) {
  .bottom-hero {
    flex-direction: column;
  }
  .hero-cards {
    width: 100%;
    margin-bottom: 20px;
  }
}

.motivation-section {
  display: flex;
  flex-direction: column;
  color: white;
  border: solid 5px var(--dark10-color);
  border-radius: 20px;
  margin-top: 100px;
  padding: 1.2rem;
}

.motivation-header {
  background: var(--dark10-color);
  border-radius: 10px;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.motivation-description {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.motivation-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  background: var(--dark10-color);
  border-radius: 10px;
  padding: 1.2rem;
}

.btn-icon {
  transform: rotate(45deg);
}

.motivation-cards p {
  color: var(--grey70-color);
}

.motivation-cards a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}